:root {
    overflow-x: hidden;
    text-align: center;
    scrollbar-color: #868 #202;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "roboto flex";
    background: linear-gradient(to bottom, #808, #202);
    min-height: 85vh;
    max-width: 100vw;
}

h1.smallspace,
h2.smallspace,
h3.smallspace,
h4.smallspace,
h5.smallspace,
h6.smallspace {
    margin-top: 0pt;
    margin-bottom: 0pt;
}

/*nav bar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #bb22bb;
    position: fixed;
    top: 0;
}

nav ul div {
    border-radius: 10px;
    display: flex;
    width: fit-content;
}

nav ul div li a {
    padding: 10px;
    border-radius: inherit;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    transition-property: background-color, color, font-weight;
    transition-duration: .25s;
}

nav ul div li a img {
    width: 25px;
    height: 25px;
    margin-left: -5px;
    margin-right: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
    font-weight: 1000;
}

nav ul div li a:hover {
    background-color: #ff88ff00;
    color: #ffffff;
    font-weight: 800;
}

nav ul div li a.here {
    padding: 10px;
    border-radius: inherit;
    display: block;
    color: #ffffff;
    background: linear-gradient(to right, #bb22bb, #dd33dd, #dd33dd, #dd33dd, #bb22bb) #880088;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    transition-property: color, font-weight;
    transition-duration: .25s;
}

nav ul div li a.here:hover {
    color: #ffffff;
    font-weight: 800;
}

nav ul div li a.acthere {
    padding: 10px;
    border-radius: inherit;
    display: block;
    color: #ffffff;
    background: linear-gradient(to right, #bb22bb, #ee44ee, #ee44ee, #ee44ee, #bb22bb) #880088;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    transition-property: color, font-weight;
    transition-duration: .25s;
}

nav ul div li a.acthere:hover {
    color: #ffffff;
    font-weight: 800;
}

nav ul div li a.dead {
    text-decoration: line-through;
    color: #fff8;
    background-color: #bb22bb;
}

nav ul div li a.outbound {
    color: #ffbbff;
    background-color: #bb22bb;
}

nav ul div li a.dead:hover {
    text-decoration: line-through;
    color: #fff8;
    background-color: #bb2288;
}











/* content */
div.content {
    background-color: #ffccff;
    padding: 10px;
    margin: 50px auto 10px;
    min-height: 85vh;
    max-width: 800px;
    justify-content: center;
    border-radius: 10px;
    border: #404 solid 5px;
}

div.content-flecks {
    /* min-height: 85vh; */
    display: flex;
    align-content: center;
}

div.content ul {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

div.half {
    /* flex-direction: column; */
    min-width: 50%;
    display: flex;
    flex-flow: column;
    flex-shrink: unset;
}

div.half-img {
    /* flex-direction: column; */
    width: 50%;
    display: flex;
    height: min-content;
}

div.half-img img {
    max-width: 100%;
    max-height: min-content;
    object-fit: contain;
    /*min-width: min-content;*/
}


div.subcontent {
    background-color: #ffccff;

    padding: 10px 30px;
    margin: 5px auto 5px;
    border-radius: 10px;
    border: #404 solid 5px;

    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: nowrap;

    overflow: visible;
    min-height: 80pt;
    text-align: left;
    justify-content: center;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div.subcontentcontainer {
    gap: 10px;
    background-color: #ffccff;

    padding: 10px;

    margin: 50px 1pt 10px;
    border-radius: 10px;
    border: #404 solid 5px;
    max-width: 800px;

    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;

    /* display: flex; */


    scrollbar-width:none;
    overflow-x: scroll;
    scrollbar-track-color: #0000;
    /* Kat had never seen such blasphemy before. */
}
div.subcontentcontainer#jasonMargin {
    margin: 0px 1pt 10px;
}
div#header {
    padding-bottom: 8.5pt;
    padding-top: 5pt;
    margin-left: -10px;
    margin-top: -2pt;
}
div#contentsted_property {
    padding: 10px;
    padding-top: 0px;
    margin: auto;
}

div.subcontentcontainer span {
    display: flex;
    gap: 10px;
    min-width: max-content;
    align-items: start;
    flex-direction: row;
}

h2#leftificator_Lol {
    text-align:left;
    margin-left: 10pt;
}

li#GETAHHHTAHEER {
    list-style-type: none;
}
li#quieterGETAHHT {
    font-size: 6pt;
    color:#8084;
    list-style-type: none;
    text-align: center;
}
img#emoji {
    width: 15pt;
    height: auto;
    padding: 0pt 5pt;
    margin-top: 1pt;
    margin-bottom: -1pt;
}
div.subcontent#transient {
    background-image: url("img/transient.svg");
    background-size: contain;
    /* background-blend-mode:; */
}

span#defixerator div.half-img-2 li{
    text-align: left;
}
div.half-vid {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}





/* footer */
/* footer {
    background-color: #880088;
} */
footer div {
    background-color: #880088;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    bottom: 0;
    font-weight: 900;
}

footer div ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    padding-bottom: 10px;
    overflow: hidden;
    justify-content: center;
    position: relative;
    bottom: 0;
}

footer div ul li {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff88ff;
}

footer div ul li a {
    border-radius: inherit;
    display: block;
    color: #ffaaff;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ffaaff88;
    transition-property: color, text-decoration-color, font-weight;
    transition-duration: .25s;
}

footer div ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #ffffff44;
    font-weight: 900;
}
footer img#ddededodediamante {
    position: relative;
}